* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #074001;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#timer-display {
    font-size: 10rem;
    font-weight: bold;
    margin: 1vh;
}

#btn-control-timer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1); 
    border: none;
    border-radius: 10vh;
    padding: 2vh;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    cursor: pointer; 
    width: 100%;
}

#btn-control-timer:hover {
    background: rgba(255, 255, 255, 0.1);
}

.btns-mode{

}

.btn-mode{
    background: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5vh;
    padding: 2.5vh;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-mode:hover {
    background: rgba(255, 255, 255, 0.1);
}

.total-timer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#total-focus, #total-break {
    font-size: 1.3em;
    margin: 5vh;
}

.mixer-container {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
}

.mixer-container h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;   
}

.control-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input[type=range] {
    cursor: pointer;
    accent-color: #ffffff;
}

@media (max-width: 600px) {
    section {
        width: 90%;
        padding: 10px;
    }
    #timer-display {
        font-size: 4rem; 
        display: flex;
        justify-content: center;
        margin: 3vh;
    }

    .btns-mode {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        gap: 1vh;
        width: 100%;
    }
    .btn-mode {
        width: 100%;
        padding: 15px;
    }

    .mixer-section{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .sound-controls {
        grid-template-columns: 1fr;
    }
} 